<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Bookmark</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link href="//cdn.bootcss.com/animate.css/3.5.1/animate.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script src="/javascripts/newBookmark.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">My bookmark</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <% if(user) { %>
                <li><a href="/bookmarks/new">New Bookmark</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form id="newBookmark" action="/bookmarks/<%= bookmark.id %>" method="post">

        <div class="form-group has-feedback">
            <label for="title">Title:</label>
            <div class="input-group">
        <span class="input-group-addon">
            <span class="fa fa-pencil"></span>
        </span>
                <input class="form-control" id="title" name="title" type="text" value="<%= bookmark.title %>" required />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label for="link">Link:</label>
            <div class="input-group">
        <span class="input-group-addon">
            <span class="fa fa-link"></span>
        </span>
                <input class="form-control" id="link" name="link" type="text" value="<%= bookmark.link %>" required />
            </div>
        </div>

        <div class="form-group">
            <label for="private">private:</label>
            <input class="form-control" id="private" type="checkbox" <%= bookmark.private ? "checked" : "" %> onclick="check()" />
        </div>

        <input id="private_check" class="hidden" name="private" value="<%= bookmark.private %>" />
        <button class="btn btn-default" type="submit">Save</button>
        <input name="owner" type="text" id="owner" class="hidden" value="<%= user.id %>"/>
    </form>
</div>

<script>
    function check() {
        var private_check = $("#private_check");
        if(private_check.val() == "false") {
            private_check.val(true);
        } else {
            private_check.val(false);
        }
    }
</script>

</body>
</html>
